/* Importar fonte */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* Proporcionar imagens ao tamanho da página */
img{
    max-width: 100%;
}

/* Retirar underline (_) */
a{
    text-decoration: none;
}

/* Retirar marcações da lista */
ul{
    list-style: none;
}

/* Velocidade de rolamento da página */
html{
    scroll-behavior: smooth;
}

/* Para estilizar uma classe iniciamos com um ponto (.) */
    /* A última classe do caminho será a de fato estilizada */
    /* Para estilizar todos os elementos, utilizar vírgula entre eles */

/* Para estilizar um id iniciamos com hashtag (#) */
    /* Porém, o ideal é estilizar pela classe, sendo bastante específico */

/* LOGO */

.logo .imagem{
    width: 200px;
}

.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo .titulo{
    margin-left: 10px;
    font-size: 17px;
    transition: 0.3s ease-in-out;
    font-weight: 800;
}

.logo .titulo:hover{
    color: #AB803A;
}

/* LOGO */

/* CABEÇALHO */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media(max-width: 624px){
    .cabecalho{
        justify-content: center;
    }

    .cabecalho .logo{
        margin-bottom: 30px;
    }

    .cabecalho .menu .item a{
        font-size: calc(0.6em + 1vw);
    }
}

.cabecalho .navegacao .menu{
    display: flex;
}

.cabecalho .navegacao .menu .item{
    margin: 10px;
}

.cabecalho .navegacao .menu .item a{
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover{
    background-color: #AB803A;
    color: white;
}

/* CABEÇALHO */

/* PAINEL */

.conteudo-principal .paineis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}

@media(max-width: 900px){
    .conteudo-principal .paineis{
        height: 500px;
    }
}

.conteudo-principal .paineis .imagem-painel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 50% bottom 70%;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);

    opacity: 0;
    transition: 0.3s ease-in-out;
}

.conteudo-principal .paineis .projeto3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);

    opacity: 0;
    transition: 0.3s ease-in-out;
}

.conteudo-principal .paineis .projeto1{
    background-image: url('../imagens/ball-pit.jpg');
}

.conteudo-principal .paineis .projeto2{
    background-image: url('../imagens/kids-toddler-trampoline-.jpg');
}

.conteudo-principal .paineis .projeto3{
    background-image: url('../imagens/d36331ac55a4de89f5e91cd179b35d6c.jpg');
}

.conteudo-principal .paineis .imagem-painel.mostrar{
    opacity: 1;
}

.conteudo-principal .paineis .titulo{
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); /* Torna o texto responsível, se adapta ao tamanho da página */
}

.conteudo-principal .paineis .seta{
    background-image: url('../imagens/seta2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.conteudo-principal .paineis .seta.btn-voltar{
    left: 20px;
    transform: rotateY(180deg);
}

.conteudo-principal .paineis .seta.btn-avancar{
    right: 20px;
}

/* PAINEL */

/* QUEM SOMOS */

.quem-somos{
    background-color: #536286;
}

.quem-somos .conteudo{
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.quem-somos .conteudo .informacoes{
    width: 40%;
}

.quem-somos .conteudo .imagem{
    width: 60%;
}

.quem-somos .conteudo .informacoes .titulo{
    font-size: 50px;
    color: black;
    margin-bottom: 20%;
}

.quem-somos .conteudo .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}

.fale-conosco{
    background-color: #AB803A;
}

@media(max-width: 1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 30px;
    }

    .quem-somos .conteudo .imagem{
        display: none;
    }

    .quem-somos .conteudo .informacoes{
        width: 100%;
    }
}

/* QUEM SOMOS */

/* RODAPÉ */

.rodape{
    padding: 80px 0 20px 0;
}

.rodape .navegacao{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rodape .redes-sociais{
    display: flex;
}

.rodape .redes-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 1px solid #111;
    border-radius: 50%;
    padding: 15px;
    width: 65px;
    transition: 0.3s ease-in-out;
}

.rodape .redes-sociais a:hover{
    background-color: #AB803A;
}

.rodape .navegacao .logo .imagem{
    width: 200px;
}

.rodape .copyright{
    margin-top: 70px;
    text-align: center;
}

@media(max-width: 940px){
    .rodape .navegacao{
        justify-content: center;
    }

    .rodape .navegacao .logo{
        margin-bottom: 30px;
    }
    
    .rodape .navegacao .logo,
    .rodape .navegacao .redes-sociais{
        width: 100%;
        justify-content: center;
    }
}

/* RODAPÉ */