@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

header{
    height: 350px;
}

.logo .imagem{
    width: 600px;
    max-width: 100%;
}

.cabecalho .logo{
    display: flex;
    justify-content: center;
}

.conteudo-principal{
    background-color: #F9B233;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-right: 270px;
    border-radius: 5%;
    background-color: rgba(53, 62, 86, 0.226);
}

.formulario .texto,
.titulo{
    color: white;
    margin-bottom: 20px;
}

.formulario .titulo{
    display: flex;
    flex-direction: column;
}

.enviar{
    width: 100px;
}

.fale-conosco .imagem{
    width: 50%;
}

.conteudo-principal .fale-conosco{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape .copyright{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}